@model RequestsViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (TempData["Message"] != null)
{
    <div class="alert alert-info text-center" role="alert">
        @TempData["Message"]
    </div>
}

@if(Model.HospitalDetail != null)
{
    <div>
        <h3>@Model.HospitalDetail.Name</h3>
        <h5>@Model.HospitalDetail.City</h5>
    </div>
}
else
{
    <div>
        <h3>Tüm Hastaneler</h3>
    </div>
}

<ol class="list-group list-group-numbered">
    @foreach (var request in Model.Requests)
    {
        <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
                <div class="fw-bold">@request.BloodGroup</div>
                <p>Miktar: <span class="badge bg-primary rounded-pill">@request.Quantity</span></p>
            </div>
            <div class="btn-group">
                <a class="btn btn-outline-dark" asp-action="updateRequest" asp-controller="Request" asp-route-id="@request.Id">Düzenle</a>
                <button type="button" onclick="deleteRequest('@request.Id')" class="btn btn-outline-dark">Sil</button>
            </div>
        </li>
    }
</ol>

@section Scripts{
    <script>
        const deleteRequest = id =>{
            fetch('/request/deleterequest',{
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                },
                body:JSON.stringify(id)
            })
            .then(response=>response.json())
            .then(data=>{
            })
            setTimeout(()=>{

                window.location.reload()
            },10)
        }
    </script>
}

